
#password-reseter {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
}

input {
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
}
