html,
body {
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}
#bigcontainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10rem;
}
.cell {
    font-size: 10rem;
    text-align: center;
    height: 11rem;
    width: 11rem;
    border: .2rem solid black;
}

#container_1, #container_2, #container_3 {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 100rem;
    min-width: 100rem;
    max-height: 30rem;
    min-height: 30rem;
    /*laver grid til column, ift nummerne*/
    grid-auto-flow: column;
}